.pack-icon-container {
    width: 100%;
    height: 64px;
    background: $semi-dark;
    text-align: center;    
}

.pack-card {
    margin-top: 32px;
}

.pack-user {
    margin-top: 20px !important;
}

.pack-description {
    margin-top: 20px !important;
}

.pack-button {
    margin-right: 10px;
}

a {
    font-size: 90%;
    color: black !important;
    text-decoration: none;
}

