.pack-wrapper{
    margin-top: 60px;
}

.pack-icon-container {
    width: 100%;
    height: 64px;
    background: $darkest;
    text-align: center;
}

.pack-card {
    margin-top: 32px;
}

.pack-user {
    margin-top: 5px !important;
    font-family: $secondary-font;
    font-weight: 600;
    color: $theme-color2;
}

.pack-description {
    margin-top: 20px !important;
    font-family: $secondary-font;
    font-weight: 400;
    color: $theme-color2;
}

.pack-button {
    margin-right: 10px;
}
