.workspace{
    display: inline-block;
    position: relative;
    margin-left: 243px;
    margin-top: 74px;
    //width: (100%-243px);
    width: calc(100% - 243px);
    padding: 30px;

    .headline{
        text-shadow: -2px 2px $dark;
    }
}
