
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

@import "pack";
@import "header";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

body {
  font-family: 'Open Sans', sans-serif;
  background: $semi-dark;  /* fallback for old browsers */
  background: linear-gradient(to left, lighten($semi-dark, 1%), lighten($semi-dark, 11%), lighten($semi-dark, 19%), lighten($semi-dark, 3%)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: 100%;
}